html {
  font-size: 85%;
  overflow-x: hidden;
}
/* @media (min-width: 1000px) {
  html {
    overflow-x: hidden;
  }
} */
::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}

::-webkit-scrollbar-thumb {
  background-color: #b0b0b0;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #b0b0b0;
}

::-webkit-scrollbar-track {
  background: transparent;
}
